<ng-container>
  <app-header></app-header>

  <mat-sidenav-container class="sidenav__container">
    <mat-sidenav #navbar mode="side" opened="false">
      <app-nav-bar></app-nav-bar>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <button mat-button class="sidenav-open-button sidenav-open-button--left" (click)="navbar.toggle()"></button>
      <button mat-button class="sidenav-open-button sidenav-open-button--right" (click)="sidepanel.toggle()"></button>
    </mat-sidenav-content>

    <mat-sidenav #sidepanel mode="side" opened="false" position="end" class="sidenav sidenav--right">
      <app-side-panel></app-side-panel>
    </mat-sidenav>
  </mat-sidenav-container>

  <app-player-bar></app-player-bar>
</ng-container>
